main {
  color: $main-color;
  max-width: 1100px;
  margin: 50px auto 0;

  @include mq($until: desktop) {
    max-width: 960px;
  }

  .row {
    display: flex;
    width: 100%;

    @include mq($until: tablet) {
      display: block;
      padding: 40px 20px;
      width: auto;
    }

    > div {
      flex-basis: 50%;
      line-height: 30px;
      padding: 40px 80px;

      @include mq($until: tablet) {
        padding: 0;
      }

      &.title {
        font-size: 50px;
        font-family: "Montserrat", serif;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        color: $main-title-color;
        text-shadow: 0 0 1px $main-title-shadow-color;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $main-title-shadow-color;
        text-transform: uppercase;

        span {
          color: $main-title-sub-color;
          display: block;
        }
      }

      h2 {
        font-family: "Open Sans", serif;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: left;

        @include mq($until: tablet) {
          font-size: 16px;
        }
      }

      img {
        width: 100%;
        margin: 0 auto;
        display: block;

        @include mq(mobileLandscape, tablet) {
          width: 80%;
        }
      }

      &.image-right,
      &.image-left {
        position: relative;
        padding: 0 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .shadow {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 25%;
          left: 25%;
          perspective: 100vw;
          perspective-origin: right;

          &:before {
            background-color: #f1f5fb;
            position: absolute;
            top: 20%;
            left: -40%;
            right: -40%;
            bottom: 20%;
            content: '';
            display: block;
            border-radius: 5px;
            transform-origin: center right;
            transform: rotateY(40deg) skewX(20deg);

            @include mq($until: tablet) {
              left: -5%;
              right: -5%;
            }
          }
        }

        img {
          position: relative;
          z-index: 2;
        }
      }

      &.image-right {
        img {
          margin: -80px -20% 0 0 ;

          @include mq($until: tablet) {
            margin: 0 auto;
          }
        }
      }

      h2 {
        color: $main-h2-color;
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 40px;
      }
    }
  }
}