main {
  color: $main-color;
  max-width: 1100px;
  margin: 50px auto 0;

  @include mq($until: desktop) {
    max-width: 960px;
  }

  article {
    display: flex;
    width: 100%;
    padding: 20px 0;

    @include mq($until: tablet) {
      display: block;
      padding: 40px 20px;
      width: auto;
    }

    > div {
      flex-basis: 50%;
      line-height: 30px;
      padding: 40px 80px;
      position: relative;

      @include mq($until: tablet) {
        padding: 0;
      }

      &.title {
        font-size: 50px;
        font-family: "Montserrat", serif;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        color: $main-title-color;
        text-shadow: 0 0 1px $main-title-shadow-color;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $main-title-shadow-color;
        text-transform: uppercase;

        span {
          color: $main-title-sub-color;
          display: block;
        }
      }

      h2 {
        font-family: "Open Sans", serif;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: left;

        @include mq($until: tablet) {
          font-size: 16px;
        }
      }

      img {
        width: 100%;
        margin: 0 auto;
        display: block;

        @include mq(mobileLandscape, tablet) {
          width: 80%;
        }
      }

      &.image-right,
      &.image-left {
        position: relative;
        padding: 0 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .shadow {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 25%;
          left: 25%;
          perspective: 100vw;
          perspective-origin: right;

          &:before {
            background-color: $main-image-shadow-bg-color;
            position: absolute;
            top: 20%;
            left: -40%;
            right: -40%;
            bottom: 20%;
            content: '';
            display: block;
            border-radius: 5px;
            transform-origin: center right;
            transform: rotateY(40deg) skewX(20deg);

            @include mq($until: tablet) {
              left: -5%;
              right: -5%;
            }
          }
        }

        img {
          position: relative;
          z-index: 2;
        }
      }

      &.image-right {
        .shadow {
          transform: scaleX(-1);
        }
      }

      .number {
        color: $main-number-color;
        font-family: Montserrat;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -1px;
        opacity: 0.1;
        position: absolute;
        top: 30px;
        left: 80px;
      }

      h2 {
        color: $main-h2-color;
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 40px;
      }

      a {
        color: $main-link-color;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 56px;

        span {
          display: inline-block;
          background-color: $main-link-button-bg-color;
          border-radius: 22px;
          color: $main-link-button-color;
          width: 44px;
          line-height: 44px;
          padding: 0;
          margin-left: 20px;
          text-align: center;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;

          &:before {
            content: '';
            position: absolute;
            top: -6px;
            left: -6px;
            bottom: -6px;
            right: -6px;
            border: 1px solid $main-link-button-border-color;
            border-radius: 34px;
          }
        }

        &:hover {
          color: darken($main-link-button-color, 20%);

          span {
            color: $main-link-button-color-hover;
            background-color: darken($main-link-button-bg-color, 20%);

            &:before {
              border-color: darken($main-link-button-border-color, 20%);
            }
          }
        }
      }
    }
  }
}