.cta-sign-up {
  text-align: center;
  color: $signup-cta-color;
  padding: 40px 0 100px;

  @include mq(mobile, mobileLandscape) {
    padding: 40px 20px 100px;
  }

  h3 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    font-family: "Montserrat";
    margin-bottom: 20px;
  }

  span {
    display: block;
    margin: 0 auto 55px;
    width: 345px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }

  .cta-button {
    background-color: $signup-cta-cta-bg-color;
    color: $signup-cta-cta-color;

    &:before {
      border-color: $signup-cta-cta-bg-color;
    }

    &:hover {
      background-color: $signup-cta-cta-color;
      color: $signup-cta-cta-bg-color;

      &:before {
        border-color: $signup-cta-cta-color;
      }
    }
  }
}